<a href="https://colab.research.google.com/github/Facco-Bruno/Alura-Python/blob/Master/Estatistics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [6]:
dados = pd.read_csv('dados.csv')

In [7]:
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [9]:
sorted(dados['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [10]:
sorted(dados['Sexo'].unique())

[0, 1]

In [11]:
sorted(dados['Cor'].unique())

[0, 2, 4, 6, 8]

In [12]:
dados['Sexo'].value_counts()

0    53250
1    23590
Name: Sexo, dtype: int64

In [16]:
frequencia = dados['Sexo'].value_counts()

In [14]:
dados['Sexo'].value_counts(normalize=True)*100

0    69.299844
1    30.700156
Name: Sexo, dtype: float64

In [15]:
percentual = dados['Sexo'].value_counts(normalize=True)*100

In [17]:
dist_freq_qualitativas = pd.DataFrame({'Frequência': frequencia, 'Porcentagem (%)': percentual})

In [18]:
dist_freq_qualitativas

   Frequência  Porcentagem (%)
0       53250        69.299844
1       23590        30.700156

In [20]:
dist_freq_qualitativas.rename(index={0:'Masculino', 1: 'Feminino'}, inplace = True)

In [21]:
dist_freq_qualitativas

           Frequência  Porcentagem (%)
Masculino       53250        69.299844
Feminino        23590        30.700156

In [22]:
dist_freq_qualitativas.rename_axis('Sexo', axis = 'columns', inplace = True)

In [23]:
dist_freq_qualitativas

Sexo       Frequência  Porcentagem (%)
Masculino       53250        69.299844
Feminino        23590        30.700156

In [24]:
dados = pd.DataFrame({'Profissão': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})

In [26]:
frequencia = dados['Profissão'].value_counts()
percentual = dados['Profissão'].value_counts(normalize = True) * 100
teste = pd.DataFrame({'Frequência': frequencia, 'Porcentagem (%)': percentual})

In [27]:
teste

   Frequência  Porcentagem (%)
2           5        41.666667
3           4        33.333333
1           3        25.000000

In [29]:
teste.rename(index = {1: 'Estatístico', 2: 'Cientista de Dados', 3: 'Programador Python'}, inplace = True)
teste.rename_axis('Profissão', axis= 'columns', inplace = True)

In [30]:
teste

Profissão           Frequência  Porcentagem (%)
Cientista de Dados           5        41.666667
Programador Python           4        33.333333
Estatístico                  3        25.000000