<a href="https://colab.research.google.com/github/Facco-Bruno/Alura-Python/blob/Master/Pandas_Advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.get_option("display.max_rows")

60

In [6]:
import numpy as np

df = pd.DataFrame(np.arange(10000).reshape(100, 100))

In [7]:
df

      0     1     2     3     4     5   ...    94    95    96    97    98    99
0      0     1     2     3     4     5  ...    94    95    96    97    98    99
1    100   101   102   103   104   105  ...   194   195   196   197   198   199
2    200   201   202   203   204   205  ...   294   295   296   297   298   299
3    300   301   302   303   304   305  ...   394   395   396   397   398   399
4    400   401   402   403   404   405  ...   494   495   496   497   498   499
..   ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
95  9500  9501  9502  9503  9504  9505  ...  9594  9595  9596  9597  9598  9599
96  9600  9601  9602  9603  9604  9605  ...  9694  9695  9696  9697  9698  9699
97  9700  9701  9702  9703  9704  9705  ...  9794  9795  9796  9797  9798  9799
98  9800  9801  9802  9803  9804  9805  ...  9894  9895  9896  9897  9898  9899
99  9900  9901  9902  9903  9904  9905  ...  9994  9995  9996  9997  9998  9999

[100 rows x 100 columns]

In [9]:
data_json = '{"A": [1, 2, 3, 4] ,"B": [5, 6, 7, 8], "C": [9, 10, 11, 12]}'

In [11]:
dados = pd.read_json(path_or_buf=data_json)
dados

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [12]:
dados = pd.read_json(
    path_or_buf=data_json,
    orient='index'
)
dados

   0   1   2   3
A  1   2   3   4
B  5   6   7   8
C  9  10  11  12

In [13]:
dados = pd.read_json(
    path_or_buf=data_json,
    orient='columns'
)
dados

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [14]:
dados = pd.read_json(
    path_or_buf='realestates.json',
        orient='columns'
)
dados

                                                   normal                                         highlights
output  {'listings': [{'imovel': {'tipos': {'proprieda...  {'listings': [{'imovel': {'tipos': {'proprieda...

In [15]:
bairros = pd.read_excel(
    io = "bairros.xlsx",
        sheet_name="Preço médio por tipo",
        usecols="C:E",
        header = 2,
        index_col=[0, 1],
        names=['bairros','tipo','valor_m2_bairro']
)
bairros

                                valor_m2_bairro
bairros       tipo
São Cristóvão Casa                        13793
              Apartamento                  6306
              Cobertura                   11695
              Consultório                  6991
              Imóvel Comercial            19633
...                                         ...
Vista Alegre  Cobertura                   16567
              Consultório                  5812
              Imóvel Comercial            12895
              Loja                         6182
              Sala Comercial               3377

[1127 rows x 1 columns]

In [17]:
teste = pd.read_excel(
    io="bairros.xlsx", 
    sheet_name="Residencial X Comercial", 
    usecols="B:E",
    index_col=[0, 1],
    skiprows=18,
    nrows=17,
    names=['Zonas', 'Bairros', 'Residencial', 'Comercial']
)

teste

                       Residencial  Comercial
Zonas Bairros
Sul   Botafogo               14002       7972
      Catete                 15232       6259
      Copacabana             23318       9355
      Cosme Velho            10320       8177
      Flamengo               19636       7135
      Gávea                  13506       8211
      Humaitá                10603       5039
      Ipanema                15965       7293
      Jardim Botânico        17243       8095
      Lagoa                  24982       6584
      Laranjeiras            17307       7745
      Leblon                 13815       8125
      Leme                   15815       8587
      Rocinha                15110       9023
      São Conrado            20727       9587
      Urca                   22876       6607
      Vidigal                23470       5424

Alternativa correta! Observe que neste exemplo deixamos o parâmetro header com a configuração default (0) e utilizamos os parâmetros skiprows=18 e nrows=17. Lembrando que skiprows informa o “índice” da linha em que o corte será realizado e esta indexação tem início no valor 0, ou seja, skiprows=18 representa que o método read_excel() deve ignorar as dezenove primeiras linhas da planilha. Já nrows=17 informa o número de linhas, a partir do corte, que devem ser consideradas.