<a href="https://colab.research.google.com/github/Facco-Bruno/Alura-Python/blob/Master/Pandas_Advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.get_option("display.max_rows")

60

In [6]:
import numpy as np

df = pd.DataFrame(np.arange(10000).reshape(100, 100))

In [7]:
df

      0     1     2     3     4     5   ...    94    95    96    97    98    99
0      0     1     2     3     4     5  ...    94    95    96    97    98    99
1    100   101   102   103   104   105  ...   194   195   196   197   198   199
2    200   201   202   203   204   205  ...   294   295   296   297   298   299
3    300   301   302   303   304   305  ...   394   395   396   397   398   399
4    400   401   402   403   404   405  ...   494   495   496   497   498   499
..   ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
95  9500  9501  9502  9503  9504  9505  ...  9594  9595  9596  9597  9598  9599
96  9600  9601  9602  9603  9604  9605  ...  9694  9695  9696  9697  9698  9699
97  9700  9701  9702  9703  9704  9705  ...  9794  9795  9796  9797  9798  9799
98  9800  9801  9802  9803  9804  9805  ...  9894  9895  9896  9897  9898  9899
99  9900  9901  9902  9903  9904  9905  ...  9994  9995  9996  9997  9998  9999

[100 rows x 100 columns]

In [9]:
data_json = '{"A": [1, 2, 3, 4] ,"B": [5, 6, 7, 8], "C": [9, 10, 11, 12]}'

In [11]:
dados = pd.read_json(path_or_buf=data_json)
dados

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [12]:
dados = pd.read_json(
    path_or_buf=data_json,
    orient='index'
)
dados

   0   1   2   3
A  1   2   3   4
B  5   6   7   8
C  9  10  11  12

In [13]:
dados = pd.read_json(
    path_or_buf=data_json,
    orient='columns'
)
dados

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [14]:
dados = pd.read_json(
    path_or_buf='realestates.json',
        orient='columns'
)
dados

                                                   normal                                         highlights
output  {'listings': [{'imovel': {'tipos': {'proprieda...  {'listings': [{'imovel': {'tipos': {'proprieda...

In [15]:
bairros = pd.read_excel(
    io = "bairros.xlsx",
        sheet_name="Preço médio por tipo",
        usecols="C:E",
        header = 2,
        index_col=[0, 1],
        names=['bairros','tipo','valor_m2_bairro']
)
bairros

                                valor_m2_bairro
bairros       tipo
São Cristóvão Casa                        13793
              Apartamento                  6306
              Cobertura                   11695
              Consultório                  6991
              Imóvel Comercial            19633
...                                         ...
Vista Alegre  Cobertura                   16567
              Consultório                  5812
              Imóvel Comercial            12895
              Loja                         6182
              Sala Comercial               3377

[1127 rows x 1 columns]

In [17]:
teste = pd.read_excel(
    io="bairros.xlsx", 
    sheet_name="Residencial X Comercial", 
    usecols="B:E",
    index_col=[0, 1],
    skiprows=18,
    nrows=17,
    names=['Zonas', 'Bairros', 'Residencial', 'Comercial']
)

teste

                       Residencial  Comercial
Zonas Bairros
Sul   Botafogo               14002       7972
      Catete                 15232       6259
      Copacabana             23318       9355
      Cosme Velho            10320       8177
      Flamengo               19636       7135
      Gávea                  13506       8211
      Humaitá                10603       5039
      Ipanema                15965       7293
      Jardim Botânico        17243       8095
      Lagoa                  24982       6584
      Laranjeiras            17307       7745
      Leblon                 13815       8125
      Leme                   15815       8587
      Rocinha                15110       9023
      São Conrado            20727       9587
      Urca                   22876       6607
      Vidigal                23470       5424

Alternativa correta! Observe que neste exemplo deixamos o parâmetro header com a configuração default (0) e utilizamos os parâmetros skiprows=18 e nrows=17. Lembrando que skiprows informa o “índice” da linha em que o corte será realizado e esta indexação tem início no valor 0, ou seja, skiprows=18 representa que o método read_excel() deve ignorar as dezenove primeiras linhas da planilha. Já nrows=17 informa o número de linhas, a partir do corte, que devem ser consideradas.

In [18]:
dados_highlights_listings = pd.json_normalize(data=dados.highlights, sep='_', record_path=['listings'])
dados_highlights_listings

   imovel_tipos_propriedade  ...                                  anuncio_descricao
0                      Casa  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
1                 Cobertura  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
2          Imóvel Comercial  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
3               Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
4               Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
5               Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
6               Consultório  ...  Amplo imóvel para venda com 2 quartos, sendo 2...
7               Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
8               Apartamento  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
9               Apartamento  ...  Amplo imóvel para venda com 1 quartos, sendo 1...
10              Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
11              Apartamento  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
12              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 2...
13                Cobertura  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
14                Cobertura  ...  Amplo imóvel para venda com 3 quartos, sendo 0...
15              Apartamento  ...  Amplo imóvel para venda com 4 quartos, sendo 2...
16              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
17                     Casa  ...  Amplo imóvel para venda com 1 quartos, sendo 0...
18           Sala Comercial  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
19              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...

[20 rows x 16 columns]

In [19]:
data_json = '{"alunos": [{"Nome": "Rita", "Info": {"Idade": 24, "Medidas": {"Peso": 62, "Altura": 1.65}}}, {"Nome": "Zeca", "Info": {"Idade": 32, "Medidas": {"Peso": 80, "Altura": 1.82}}}]}'

In [22]:
data = pd.read_json(path_or_buf=data_json, orient='columns')
pd.json_normalize(data=data.alunos, sep='_', max_level=1)

data

                                              alunos
0  {'Nome': 'Rita', 'Info': {'Idade': 24, 'Medida...
1  {'Nome': 'Zeca', 'Info': {'Idade': 32, 'Medida...

In [25]:
dados_normal_listings = pd.json_normalize(data=dados.normal, sep='_', record_path=['listings'])
dados_normal_listings

   imovel_tipos_propriedade  ...                                  anuncio_descricao
0                      Casa  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
1               Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
2                 Cobertura  ...  Amplo imóvel para venda com 5 quartos, sendo 4...
3                 Cobertura  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
4            Sala Comercial  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
5                      Casa  ...  Amplo imóvel para venda com 1 quartos, sendo 0...
6                      Casa  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
7               Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
8               Consultório  ...  Amplo imóvel para venda com 4 quartos, sendo 1...
9                      Casa  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
10                     Casa  ...  Amplo imóvel para venda com 3 quartos, sendo 0...
11              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 0...
12              Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
13              Consultório  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
14              Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
15                     Casa  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
16              Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
17           Sala Comercial  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
18                     Casa  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
19           Sala Comercial  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
20              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 0...
21              Apartamento  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
22              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
23                     Casa  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
24              Consultório  ...  Amplo imóvel para venda com 4 quartos, sendo 4...
25              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
26              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 0...
27              Apartamento  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
28                     Casa  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
29              Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
30              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
31                     Casa  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
32                     Casa  ...  Amplo imóvel para venda com 1 quartos, sendo 1...
33                Cobertura  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
34                     Casa  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
35              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
36                     Casa  ...  Amplo imóvel para venda com 3 quartos, sendo 0...
37                     Casa  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
38              Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
39         Imóvel Comercial  ...  Amplo imóvel para venda com 6 quartos, sendo 5...
40                     Casa  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
41              Apartamento  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
42              Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
43                     Casa  ...  Amplo imóvel para venda com 4 quartos, sendo 1...
44              Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
45                Cobertura  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
46              Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
47                     Casa  ...  Amplo imóvel para venda com 4 quartos, sendo 1...
48                     Casa  ...  Amplo imóvel para venda com 1 quartos, sendo 0...
49                     Casa  ...  Amplo imóvel para venda com 1 quartos, sendo 0...

[50 rows x 16 columns]

In [26]:
dados_normal_listings.head(2)

  imovel_tipos_propriedade  ...                                  anuncio_descricao
0                     Casa  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
1              Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...

[2 rows x 16 columns]

In [27]:
lista_str = dados_normal_listings.loc[0,'imovel_caracteristicas_propriedade']
lista_str

"['Área de Serviço', 'Terraço', 'Churrasqueira', 'Quarto/WC Empregada', 'Sauna', 'Varanda', 'Gás Encanado', 'Closet', 'Piscina', 'Mobiliado', 'Armários Planejados', 'Acessibilidade']"

In [29]:
lista = lista_str[1:-1].replace("'", "").split(", ")
lista

['Área de Serviço',
 'Terraço',
 'Churrasqueira',
 'Quarto/WC Empregada',
 'Sauna',
 'Varanda',
 'Gás Encanado',
 'Closet',
 'Piscina',
 'Mobiliado',
 'Armários Planejados',
 'Acessibilidade']

In [30]:
Texto = dados_normal_listings.loc[:, 'imovel_caracteristicas_propriedade']
Texto

0     ['Área de Serviço', 'Terraço', 'Churrasqueira'...
1                                             ['Sauna']
2     ['Acessibilidade', 'Área de Serviço', 'Sauna',...
3     ['Vista Panorâmica', 'Piscina', 'Sauna', 'Clos...
4                               ['Armários Planejados']
5     ['Mobiliado', 'Varanda', 'Closet', 'Churrasque...
6     ['Churrasqueira', 'Gás Encanado', 'Cozinha Ame...
7     ['Quarto/WC Empregada', 'Gás Encanado', 'Sauna...
8     ['Acessibilidade', 'Mobiliado', 'Churrasqueira...
9     ['Área de Serviço', 'Terraço', 'Ambientes Inte...
10    ['Closet', 'Ambientes Integrados', 'Área de Se...
11                                                   []
12    ['Piscina', 'Quarto/WC Empregada', 'Gás Encana...
13    ['Sauna', 'Terraço', 'Closet', 'Gás Encanado',...
14                                                   []
15    ['Quarto/WC Empregada', 'Varanda', 'Piscina', ...
16    ['Vista Panorâmica', 'Sauna', 'Área de Serviço...
17    ['Quarto/WC Empregada', 'Churrasqueira', 'Sauna']
18    ['Sauna', 'Ambientes Integrados', 'Armários Pl...
19    ['Mobiliado', 'Acessibilidade', 'Área de Servi...
20    ['Sauna', 'Gás Encanado', 'Terraço', 'Ambiente...
21                                                   []
22    ['Terraço', 'Armários Planejados', 'Ambientes ...
23    ['Área de Serviço', 'Quarto/WC Empregada', 'Cl...
24    ['Cozinha Americana', 'Gás Encanado', 'Mobilia...
25    ['Área de Serviço', 'Ambientes Integrados', 'V...
26    ['Gás Encanado', 'Cozinha Americana', 'Vista P...
27    ['Vista Panorâmica', 'Quarto/WC Empregada', 'S...
28    ['Armários Planejados', 'Piscina', 'Churrasque...
29                                                   []
30    ['Mobiliado', 'Sauna', 'Cozinha Americana', 'Á...
31    ['Cozinha Americana', 'Varanda', 'Vista Panorâ...
32    ['Terraço', 'Vista Panorâmica', 'Piscina', 'Ac...
33    ['Cozinha Americana', 'Quarto/WC Empregada', '...
34    ['Área de Serviço', 'Terraço', 'Piscina', 'Clo...
35    ['Acessibilidade', 'Churrasqueira', 'Sauna', '...
36    ['Sauna', 'Vista Panorâmica', 'Terraço', 'Mobi...
37    ['Gás Encanado', 'Mobiliado', 'Cozinha America...
38    ['Área de Serviço', 'Gás Encanado', 'Cozinha A...
39    ['Acessibilidade', 'Cozinha Americana', 'Varan...
40    ['Sauna', 'Piscina', 'Closet', 'Varanda', 'Ace...
41                    ['Mobiliado', 'Vista Panorâmica']
42                                                   []
43    ['Cozinha Americana', 'Vista Panorâmica', 'Gás...
44    ['Mobiliado', 'Varanda', 'Cozinha Americana', ...
45    ['Ambientes Integrados', 'Sauna', 'Piscina', '...
46    ['Acessibilidade', 'Gás Encanado', 'Área de Se...
47    ['Acessibilidade', 'Quarto/WC Empregada', 'Arm...
48    ['Cozinha Americana', 'Mobiliado', 'Sauna', 'P...
49    ['Varanda', 'Closet', 'Armários Planejados', '...
Name: imovel_caracteristicas_propriedade, dtype: object

In [31]:
Texto.str[1:-1].str.replace("'", "").str.split(", ")
Texto

0     ['Área de Serviço', 'Terraço', 'Churrasqueira'...
1                                             ['Sauna']
2     ['Acessibilidade', 'Área de Serviço', 'Sauna',...
3     ['Vista Panorâmica', 'Piscina', 'Sauna', 'Clos...
4                               ['Armários Planejados']
5     ['Mobiliado', 'Varanda', 'Closet', 'Churrasque...
6     ['Churrasqueira', 'Gás Encanado', 'Cozinha Ame...
7     ['Quarto/WC Empregada', 'Gás Encanado', 'Sauna...
8     ['Acessibilidade', 'Mobiliado', 'Churrasqueira...
9     ['Área de Serviço', 'Terraço', 'Ambientes Inte...
10    ['Closet', 'Ambientes Integrados', 'Área de Se...
11                                                   []
12    ['Piscina', 'Quarto/WC Empregada', 'Gás Encana...
13    ['Sauna', 'Terraço', 'Closet', 'Gás Encanado',...
14                                                   []
15    ['Quarto/WC Empregada', 'Varanda', 'Piscina', ...
16    ['Vista Panorâmica', 'Sauna', 'Área de Serviço...
17    ['Quarto/WC Empregada', 'Churrasqueira', 'Sauna']
18    ['Sauna', 'Ambientes Integrados', 'Armários Pl...
19    ['Mobiliado', 'Acessibilidade', 'Área de Servi...
20    ['Sauna', 'Gás Encanado', 'Terraço', 'Ambiente...
21                                                   []
22    ['Terraço', 'Armários Planejados', 'Ambientes ...
23    ['Área de Serviço', 'Quarto/WC Empregada', 'Cl...
24    ['Cozinha Americana', 'Gás Encanado', 'Mobilia...
25    ['Área de Serviço', 'Ambientes Integrados', 'V...
26    ['Gás Encanado', 'Cozinha Americana', 'Vista P...
27    ['Vista Panorâmica', 'Quarto/WC Empregada', 'S...
28    ['Armários Planejados', 'Piscina', 'Churrasque...
29                                                   []
30    ['Mobiliado', 'Sauna', 'Cozinha Americana', 'Á...
31    ['Cozinha Americana', 'Varanda', 'Vista Panorâ...
32    ['Terraço', 'Vista Panorâmica', 'Piscina', 'Ac...
33    ['Cozinha Americana', 'Quarto/WC Empregada', '...
34    ['Área de Serviço', 'Terraço', 'Piscina', 'Clo...
35    ['Acessibilidade', 'Churrasqueira', 'Sauna', '...
36    ['Sauna', 'Vista Panorâmica', 'Terraço', 'Mobi...
37    ['Gás Encanado', 'Mobiliado', 'Cozinha America...
38    ['Área de Serviço', 'Gás Encanado', 'Cozinha A...
39    ['Acessibilidade', 'Cozinha Americana', 'Varan...
40    ['Sauna', 'Piscina', 'Closet', 'Varanda', 'Ace...
41                    ['Mobiliado', 'Vista Panorâmica']
42                                                   []
43    ['Cozinha Americana', 'Vista Panorâmica', 'Gás...
44    ['Mobiliado', 'Varanda', 'Cozinha Americana', ...
45    ['Ambientes Integrados', 'Sauna', 'Piscina', '...
46    ['Acessibilidade', 'Gás Encanado', 'Área de Se...
47    ['Acessibilidade', 'Quarto/WC Empregada', 'Arm...
48    ['Cozinha Americana', 'Mobiliado', 'Sauna', 'P...
49    ['Varanda', 'Closet', 'Armários Planejados', '...
Name: imovel_caracteristicas_propriedade, dtype: object

In [32]:
dados_normal_listings.filter(like='imovel_caracteristicas')

                   imovel_caracteristicas_propriedade  ...                     imovel_caracteristicas_entorno
0   ['Área de Serviço', 'Terraço', 'Churrasqueira'...  ...  ['Próximo a Escola Particular', 'Próximo ao Me...
1                                           ['Sauna']  ...  ['Próximo ao Shopping', 'Próximo a Áreas de La...
2   ['Acessibilidade', 'Área de Serviço', 'Sauna',...  ...                    ['Próximo a Escola Particular']
3   ['Vista Panorâmica', 'Piscina', 'Sauna', 'Clos...  ...  ['Próximo a Farmácia', 'Próximo a Academia', '...
4                             ['Armários Planejados']  ...  ['Próximo a Centro Empresarial', 'Próximo a Ár...
5   ['Mobiliado', 'Varanda', 'Closet', 'Churrasque...  ...  ['Próximo a Centro Empresarial', 'Próximo a Es...
6   ['Churrasqueira', 'Gás Encanado', 'Cozinha Ame...  ...  ['Próximo ao Metrô', 'Próximo ao Shopping', 'P...
7   ['Quarto/WC Empregada', 'Gás Encanado', 'Sauna...  ...  ['Próximo a Escola Particular', 'Próximo a Com...
8   ['Acessibilidade', 'Mobiliado', 'Churrasqueira...  ...        ['Próximo a Mercado', 'Próximo a Farmácia']
9   ['Área de Serviço', 'Terraço', 'Ambientes Inte...  ...  ['Próximo ao Metrô', 'Próximo a Comércio Diver...
10  ['Closet', 'Ambientes Integrados', 'Área de Se...  ...  ['Próximo a Centro Empresarial', 'Próximo a Es...
11                                                 []  ...  ['Próximo a Farmácia', 'Próximo a Áreas de Laz...
12  ['Piscina', 'Quarto/WC Empregada', 'Gás Encana...  ...  ['Próximo a Comércio Diversos', 'Próximo a Esc...
13  ['Sauna', 'Terraço', 'Closet', 'Gás Encanado',...  ...  ['Próximo a Restaurante', 'Próximo ao Metrô', ...
14                                                 []  ...  ['Próximo ao Metrô', 'Próximo a Mercado', 'Pró...
15  ['Quarto/WC Empregada', 'Varanda', 'Piscina', ...  ...  ['Próximo ao Shopping', 'Próximo a Farmácia', ...
16  ['Vista Panorâmica', 'Sauna', 'Área de Serviço...  ...  ['Próximo a Escola Particular', 'Próximo a Pra...
17  ['Quarto/WC Empregada', 'Churrasqueira', 'Sauna']  ...  ['Próximo a Farmácia', 'Próximo a Escola Parti...
18  ['Sauna', 'Ambientes Integrados', 'Armários Pl...  ...                   ['Próximo a Centro Empresarial']
19  ['Mobiliado', 'Acessibilidade', 'Área de Servi...  ...  ['Próximo a Centro Empresarial', 'Próximo a Co...
20  ['Sauna', 'Gás Encanado', 'Terraço', 'Ambiente...  ...  ['Próximo a Academia', 'Próximo a Mercado', 'P...
21                                                 []  ...  ['Próximo ao Shopping', 'Próximo a Parques e Á...
22  ['Terraço', 'Armários Planejados', 'Ambientes ...  ...  ['Próximo a Restaurante', 'Próximo a Farmácia'...
23  ['Área de Serviço', 'Quarto/WC Empregada', 'Cl...  ...  ['Próximo a Academia', 'Próximo a Escola Parti...
24  ['Cozinha Americana', 'Gás Encanado', 'Mobilia...  ...   ['Próximo ao Metrô', 'Próximo a Escola Pública']
25  ['Área de Serviço', 'Ambientes Integrados', 'V...  ...  ['Próximo a Escola Particular', 'Próximo a Mer...
26  ['Gás Encanado', 'Cozinha Americana', 'Vista P...  ...  ['Próximo a Serviços de Saúde', 'Próximo a Mer...
27  ['Vista Panorâmica', 'Quarto/WC Empregada', 'S...  ...  ['Próximo ao Metrô', 'Próximo a Academia', 'Pr...
28  ['Armários Planejados', 'Piscina', 'Churrasque...  ...  ['Próximo a Parques e Áreas Verdes', 'Próximo ...
29                                                 []  ...  ['Próximo a Praia', 'Próximo a Academia', 'Pró...
30  ['Mobiliado', 'Sauna', 'Cozinha Americana', 'Á...  ...  ['Próximo a Parques e Áreas Verdes', 'Próximo ...
31  ['Cozinha Americana', 'Varanda', 'Vista Panorâ...  ...  ['Próximo a Áreas de Lazer', 'Próximo a Parque...
32  ['Terraço', 'Vista Panorâmica', 'Piscina', 'Ac...  ...  ['Próximo a Comércio Diversos', 'Próximo a Far...
33  ['Cozinha Americana', 'Quarto/WC Empregada', '...  ...                                                 []
34  ['Área de Serviço', 'Terraço', 'Piscina', 'Clo...  ...  ['Próximo ao Metrô', 'Próximo a Áreas de Lazer...
35  ['Acessibilidade', 'Churrasqueira', 'Sauna', '...  ...  ['Próximo a Escola Particular', 'Próximo a Ser...
36  ['Sauna', 'Vista Panorâmica', 'Terraço', 'Mobi...  ...  ['Próximo a Restaurante', 'Próximo ao Metrô', ...
37  ['Gás Encanado', 'Mobiliado', 'Cozinha America...  ...  ['Próximo a Serviços de Saúde', 'Próximo a Cen...
38  ['Área de Serviço', 'Gás Encanado', 'Cozinha A...  ...                    ['Próximo a Serviços de Saúde']
39  ['Acessibilidade', 'Cozinha Americana', 'Varan...  ...  ['Próximo a Áreas de Lazer', 'Próximo a Restau...
40  ['Sauna', 'Piscina', 'Closet', 'Varanda', 'Ace...  ...  ['Próximo ao Shopping', 'Próximo a Escola Part...
41                  ['Mobiliado', 'Vista Panorâmica']  ...                                                 []
42                                                 []  ...  ['Próximo a Serviços de Saúde', 'Próximo a Par...
43  ['Cozinha Americana', 'Vista Panorâmica', 'Gás...  ...  ['Próximo ao Metrô', 'Próximo a Escola Particu...
44  ['Mobiliado', 'Varanda', 'Cozinha Americana', ...  ...  ['Próximo a Serviços de Saúde', 'Próximo a Esc...
45  ['Ambientes Integrados', 'Sauna', 'Piscina', '...  ...  ['Próximo a Serviços de Saúde', 'Próximo a Aca...
46  ['Acessibilidade', 'Gás Encanado', 'Área de Se...  ...  ['Próximo a Comércio Diversos', 'Próximo a Esc...
47  ['Acessibilidade', 'Quarto/WC Empregada', 'Arm...  ...  ['Próximo a Restaurante', 'Próximo a Comércio ...
48  ['Cozinha Americana', 'Mobiliado', 'Sauna', 'P...  ...  ['Próximo ao Shopping', 'Próximo a Mercado', '...
49  ['Varanda', 'Closet', 'Armários Planejados', '...  ...                                                 []

[50 rows x 3 columns]

In [33]:
columns = dados_normal_listings.filter(like='imovel_caracteristicas')

for column in columns: 
    print(column)

imovel_caracteristicas_propriedade
imovel_caracteristicas_condominio
imovel_caracteristicas_entorno

In [34]:
columns = dados_normal_listings.filter(like='imovel_caracteristicas')

for column in columns: 
    dados_normal_listings[column] = dados_normal_listings[column].str[1:-1].str.replace("'","").str.split(",")

In [43]:
dados_normal_listings.loc[0, 'imovel_caracteristicas_propriedade'][0]

'Área de Serviço'

In [39]:
columns = dados_normal_listings.filter(like='imovel_caracteristicas')

for column in columns: 
    dados_highlights_listings[column] = dados_highlights_listings[column].str[1:-1].str.replace("'","").str.split(",")

In [40]:
dados_highlights_listings.loc[0, 'imovel_caracteristicas_propriedade'][0]

'Sauna'

In [44]:
dados = {
    "alunos": ["Rita", "Lucas", "Zeca", "Ana"], 
    "idade": [10, 12, 11, 10], 
    "medidas_altura": [1.3, 1.5, 1.45, 1.28], 
    "medidas_peso": [42, 50, 45, 38]
}

df = pd.DataFrame(dados)

In [45]:
df.filter(like='medidas', axis='columns')

   medidas_altura  medidas_peso
0            1.30            42
1            1.50            50
2            1.45            45
3            1.28            38

In [46]:
dados_normal_listings.append(dados_highlights_listings)

   imovel_tipos_propriedade  ...                                  anuncio_descricao
0                      Casa  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
1               Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
2                 Cobertura  ...  Amplo imóvel para venda com 5 quartos, sendo 4...
3                 Cobertura  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
4            Sala Comercial  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
..                      ...  ...                                                ...
15              Apartamento  ...  Amplo imóvel para venda com 4 quartos, sendo 2...
16              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
17                     Casa  ...  Amplo imóvel para venda com 1 quartos, sendo 0...
18           Sala Comercial  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
19              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...

[70 rows x 16 columns]

In [48]:
dados_normal_listings.append(dados_highlights_listings, ignore_index=True)

   imovel_tipos_propriedade  ...                                  anuncio_descricao
0                      Casa  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
1               Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
2                 Cobertura  ...  Amplo imóvel para venda com 5 quartos, sendo 4...
3                 Cobertura  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
4            Sala Comercial  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
..                      ...  ...                                                ...
65              Apartamento  ...  Amplo imóvel para venda com 4 quartos, sendo 2...
66              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
67                     Casa  ...  Amplo imóvel para venda com 1 quartos, sendo 0...
68           Sala Comercial  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
69              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...

[70 rows x 16 columns]

In [49]:
dados_listings = dados_normal_listings.append(dados_highlights_listings, ignore_index=True) 
dados_listings

   imovel_tipos_propriedade  ...                                  anuncio_descricao
0                      Casa  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
1               Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
2                 Cobertura  ...  Amplo imóvel para venda com 5 quartos, sendo 4...
3                 Cobertura  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
4            Sala Comercial  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
..                      ...  ...                                                ...
65              Apartamento  ...  Amplo imóvel para venda com 4 quartos, sendo 2...
66              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
67                     Casa  ...  Amplo imóvel para venda com 1 quartos, sendo 0...
68           Sala Comercial  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
69              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...

[70 rows x 16 columns]

In [50]:
dados_listings = pd.concat([dados_normal_listings,dados_highlights_listings])
dados_listings

   imovel_tipos_propriedade  ...                                  anuncio_descricao
0                      Casa  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
1               Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
2                 Cobertura  ...  Amplo imóvel para venda com 5 quartos, sendo 4...
3                 Cobertura  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
4            Sala Comercial  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
..                      ...  ...                                                ...
15              Apartamento  ...  Amplo imóvel para venda com 4 quartos, sendo 2...
16              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
17                     Casa  ...  Amplo imóvel para venda com 1 quartos, sendo 0...
18           Sala Comercial  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
19              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...

[70 rows x 16 columns]

In [51]:
dados_listings = pd.concat([dados_normal_listings,dados_highlights_listings], ignore_index=True)
dados_listings

   imovel_tipos_propriedade  ...                                  anuncio_descricao
0                      Casa  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
1               Apartamento  ...  Amplo imóvel para venda com 2 quartos, sendo 0...
2                 Cobertura  ...  Amplo imóvel para venda com 5 quartos, sendo 4...
3                 Cobertura  ...  Amplo imóvel para venda com 2 quartos, sendo 1...
4            Sala Comercial  ...  Amplo imóvel para venda com 0 quartos, sendo 0...
..                      ...  ...                                                ...
65              Apartamento  ...  Amplo imóvel para venda com 4 quartos, sendo 2...
66              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
67                     Casa  ...  Amplo imóvel para venda com 1 quartos, sendo 0...
68           Sala Comercial  ...  Amplo imóvel para venda com 3 quartos, sendo 1...
69              Apartamento  ...  Amplo imóvel para venda com 3 quartos, sendo 1...

[70 rows x 16 columns]

In [52]:
bairros_amostra = dados_listings['imovel_endereco_bairro']
bairros_amostra

0     Barra da Tijuca
1        Campo Grande
2     Barra da Tijuca
3     Barra da Tijuca
4              Glória
           ...
65         Copacabana
66             Leblon
67         Copacabana
68           Cachambi
69             Tijuca
Name: imovel_endereco_bairro, Length: 70, dtype: object

In [53]:
bairros_todos = bairros.index.get_level_values('bairros')
bairros_todos

Index(['São Cristóvão', 'São Cristóvão', 'São Cristóvão', 'São Cristóvão',
       'São Cristóvão', 'São Cristóvão', 'São Cristóvão', 'Benfica', 'Benfica',
       'Benfica',
       ...
       'Vila Kosmos', 'Vila Kosmos', 'Vila Kosmos', 'Vista Alegre',
       'Vista Alegre', 'Vista Alegre', 'Vista Alegre', 'Vista Alegre',
       'Vista Alegre', 'Vista Alegre'],
      dtype='object', name='bairros', length=1127)

In [54]:
bairros_amostra.shape

(70,)

In [55]:
bairros_amostra.nunique()

30

In [56]:
bairros_amostra = pd.Series(bairros_amostra.unique())
bairros_amostra

0              Barra da Tijuca
1                 Campo Grande
2                       Glória
3                  Vila Isabel
4                      Andaraí
5                   Copacabana
6     Recreio dos Bandeirantes
7                       Tijuca
8                        Méier
9                      Ipanema
10                   Paciência
11     Freguesia (Jacarepaguá)
12              Vargem Pequena
13                   Pechincha
14                   Freguesia
15                    Botafogo
16               Vila da Penha
17                 Jacarepaguá
18                 Laranjeiras
19                     Ribeira
20                        Lapa
21                       Rocha
22                    Flamengo
23                Engenho Novo
24               Vargem Grande
25                  Praça Seca
26              Honório Gurgel
27                       Lagoa
28                      Leblon
29                    Cachambi
dtype: object

In [57]:
bairros_todos.shape

(1127,)

In [58]:
bairros_todos = pd.Series(bairros_todos.unique())
bairros_todos

0            São Cristóvão
1                  Benfica
2                     Caju
3                  Catumbi
4                   Centro
              ...
156    Vicente de Carvalho
157          Vigário Geral
158          Vila da Penha
159            Vila Kosmos
160           Vista Alegre
Name: bairros, Length: 161, dtype: object

In [60]:
bairros.loc["Freguesia"]

                  valor_m2_bairro
tipo
Casa                        15156
Apartamento                  7930
Cobertura                   15391
Consultório                  4479
Imóvel Comercial            16730
Loja                         7095
Sala Comercial               8666

In [61]:
bairros.loc["Jacarepaguá"]

                  valor_m2_bairro
tipo
Casa                        19073
Apartamento                  8574
Cobertura                   16140
Consultório                  7554
Imóvel Comercial            10599
Loja                         7305
Sala Comercial               5023

In [62]:
dados_listings['imovel_endereco_bairro'].replace('Freguesia (Jacarepaguá)', 'Freguesia', inplace=True)

In [63]:
bairros_amostra = pd.Series(dados_listings['imovel_endereco_bairro'].unique())
bairros_amostra

0              Barra da Tijuca
1                 Campo Grande
2                       Glória
3                  Vila Isabel
4                      Andaraí
5                   Copacabana
6     Recreio dos Bandeirantes
7                       Tijuca
8                        Méier
9                      Ipanema
10                   Paciência
11                   Freguesia
12              Vargem Pequena
13                   Pechincha
14                    Botafogo
15               Vila da Penha
16                 Jacarepaguá
17                 Laranjeiras
18                     Ribeira
19                        Lapa
20                       Rocha
21                    Flamengo
22                Engenho Novo
23               Vargem Grande
24                  Praça Seca
25              Honório Gurgel
26                       Lagoa
27                      Leblon
28                    Cachambi
dtype: object

In [64]:
bairros_amostra.isin(bairros_todos)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
dtype: bool

In [65]:
dados_listings = pd.merge(
    left = dados_listings,
    right = bairros,
    left_on = ['imovel_endereco_bairro', 'imovel_tipos_propriedade'],
    right_index = True
)
dados_listings

   imovel_tipos_propriedade  ... valor_m2_bairro
0                      Casa  ...           12835
47                     Casa  ...           12835
1               Apartamento  ...            6425
16              Apartamento  ...            6425
2                 Cobertura  ...           12585
..                      ...  ...             ...
60              Apartamento  ...            5964
63                Cobertura  ...           17199
64                Cobertura  ...           17199
66              Apartamento  ...            6388
68           Sala Comercial  ...            6727

[70 rows x 17 columns]